@import "@/assets/css/var.scss";
@import "@/assets/css/themeFn.scss";

.header{
  height: $header-height;
  background: $header-background;
  @include themify(){
    background: themed('header-background-color');
  }
  .logo{
    width: 200px;
    font-size: 18px;
    padding: 0 20px;
  }
  .info{
    padding-right: 20px;
    flex: 1;
    justify-content: space-between;
    .collapsed{
      background-color: rgba(255,255,255,0.1);
      padding: 8px;
      border-radius: 2px;
      cursor: pointer;
      &:hover{
        background-color: rgba(255,255,255,0.3);
      }
      i{
        font-size: 16px;
      }
    }

    .info-right{
      justify-content: flex-end;
      .theme-config{
        margin-right: 20px;
        .theme-config-name{
          font-size: 12px;
          margin-right: 10px;
        }
        .themeItem{
          .themeItemColor{
            width: 20px;
            height: 20px;
            border-radius: 2px;
            margin: 0 5px;
          }
        }
      }

      .user-info{
        color: $text-color-white;
        .user-name{
          margin-right: 8px;
        }
        .user-avatar{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 5px;
        }
      }

      .ant-dropdown-trigger{
        display: inline-block;
        height: $header-height;
        line-height: $header-height;
      }
    }
  }
}
